# https://www.xilinx.com/support/packagefiles/k7packages/xc7k160tfbg484pkg.txt

NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18;  # 100 MHZ

# :: BTN
# FROM RIGHT TO LEFT
NET "BTN[0]" LOC = W14 | IOSTANDARD = LVCMOS18;
NET "BTN[0]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BTN[1]" LOC = V14 | IOSTANDARD = LVCMOS18;
NET "BTN[1]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BTN[2]" LOC = V19 | IOSTANDARD = LVCMOS18;
NET "BTN[2]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BTN[3]" LOC = V18 | IOSTANDARD = LVCMOS18;
NET "BTN[3]" CLOCK_DEDICATED_ROUTE = FALSE;

# NET "BTNX0" LOC = V17 | IOSTANDARD = LVCMOS18;
# NET "BTNX1" LOC = W18 | IOSTANDARD = LVCMOS18;
# NET "BTNX2" LOC = W19 | IOSTANDARD = LVCMOS18;
# NET "BTNX3" LOC = W15 | IOSTANDARD = LVCMOS18;
NET "BTNX4" LOC = W16 | IOSTANDARD = LVCMOS18;  # 0: Enable button inputs in row 4
# :: END BTN

# :: DISPLAY
NET "SEGMENT[0]" LOC = AB22 | IOSTANDARD = LVCMOS33; #a
NET "SEGMENT[1]" LOC = AD24 | IOSTANDARD = LVCMOS33; #b
NET "SEGMENT[2]" LOC = AD23 | IOSTANDARD = LVCMOS33; #c
NET "SEGMENT[3]" LOC = Y21 | IOSTANDARD = LVCMOS33; #d
NET "SEGMENT[4]" LOC = W20 | IOSTANDARD = LVCMOS33; #e
NET "SEGMENT[5]" LOC = AC24 | IOSTANDARD = LVCMOS33; #f
NET "SEGMENT[6]" LOC = AC23 | IOSTANDARD = LVCMOS33; #g
NET "SEGMENT[7]" LOC = AA22 | IOSTANDARD = LVCMOS33; #point
# Enables
NET "AN[0]" LOC = AD21 | IOSTANDARD = LVCMOS33;
NET "AN[1]" LOC = AC21 | IOSTANDARD = LVCMOS33;
NET "AN[2]" LOC = AB21 | IOSTANDARD = LVCMOS33;
NET "AN[3]" LOC = AC22 | IOSTANDARD = LVCMOS33;
# :: END DISPLAY

NET "SW[0]" LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "SW[1]" LOC = AB10 | IOSTANDARD = LVCMOS15;
NET "SW[2]" LOC = AA13 | IOSTANDARD = LVCMOS15;
NET "SW[3]" LOC = AA12 | IOSTANDARD = LVCMOS15;
NET "SW[4]" LOC = Y13 | IOSTANDARD = LVCMOS15;
NET "SW[5]" LOC = Y12 | IOSTANDARD = LVCMOS15;
NET "SW[6]" LOC = AD11 | IOSTANDARD = LVCMOS15;
NET "SW[7]" LOC = AD10 | IOSTANDARD = LVCMOS15;
NET "SW[8]"	LOC = AE10  | IOSTANDARD = LVCMOS15;
NET "SW[9]"	LOC = AE12  | IOSTANDARD = LVCMOS15;
NET "SW[10]" LOC = AF12  | IOSTANDARD = LVCMOS15;
NET "SW[11]" LOC = AE8  | IOSTANDARD = LVCMOS15;
NET "SW[12]" LOC = AF8 | IOSTANDARD = LVCMOS15;
NET "SW[13]" LOC = AE13  | IOSTANDARD = LVCMOS15;
NET "SW[14]" LOC = AF13  | IOSTANDARD = LVCMOS15;
NET "SW[15]" LOC = AF10  | IOSTANDARD = LVCMOS15;

NET "LED[0]" LOC = W23 | IOSTANDARD = LVCMOS33;
NET "LED[1]" LOC = AB26 | IOSTANDARD = LVCMOS33;
NET "LED[2]" LOC = Y25 | IOSTANDARD = LVCMOS33;
NET "LED[3]" LOC = AA23 | IOSTANDARD = LVCMOS33;
NET "LED[4]" LOC = Y23 | IOSTANDARD = LVCMOS33;
NET "LED[5]" LOC = Y22 | IOSTANDARD = LVCMOS33;
NET "LED[6]" LOC = AE21 | IOSTANDARD = LVCMOS33;
NET "LED[7]" LOC = AF24 | IOSTANDARD = LVCMOS33;

# motherboard LED
# LED_CLK：16位LED灯的时钟
# LED_CLR：清零，使所有LED亮; best practice: always 1
# LED_DO：16位LED数据串行输入，输入0使LED亮
# LED_EN：控制LED电源，1为使能LED模块
NET "LED_CLK"	LOC = N26 | IOSTANDARD = LVCMOS33;
NET "LED_CLR"	LOC = N24 | IOSTANDARD = LVCMOS33;
NET "LED_DO"	LOC = M26 | IOSTANDARD = LVCMOS33;
NET "LED_EN"	LOC = P18 | IOSTANDARD = LVCMOS33;

# motherboard 七段码移位输出引脚约束
# SEG_CLK：64位串-并转换模块的时钟
# SEG_CLR：清零，所有段亮
# SEG_DT：数据串行输入，输入0亮
# SEG_EN：控制数码管电源，1为使能
NET "SEG_CLK" LOC = M24 | IOSTANDARD = LVCMOS33;
NET "SEG_CLR" LOC = M20 | IOSTANDARD = LVCMOS33;
NET "SEG_DT" LOC = L24 | IOSTANDARD = LVCMOS33;
NET "SEG_EN" LOC = R18 | IOSTANDARD = LVCMOS33; 

# VGA
# NET "VGA_b[0]" LOC = T20 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_b[1]" LOC = R20 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_b[2]" LOC = T22 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_b[3]" LOC = T23 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_g[0]" LOC = R22 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_g[1]" LOC = R23 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_g[2]" LOC = T24 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_g[3]" LOC = T25 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_r[0]" LOC = N21 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_r[1]" LOC = N22 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_r[2]" LOC = R21 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_r[3]" LOC = P21 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
# NET "VGA_hs"   LOC = M22 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;  # vertical sync
# NET "VGA_vs"   LOC = M21 | IOSTANDARD = LVCMOS33 | SLEW = FAST ;

# Keyboard

# NET "PS2_CLK"  LOC = N18 | IOSTANDARD = LVCMOS33;
# NET "PS2_DATA" LOC = M19 | IOSTANDARD = LVCMOS33;
# NET "PS2_RST"  LOC = W13 | IOSTANDARD = LVCMOS18;
# NET "PS2_RST"  LOC = AE13 | IOSTANDARD = LVCMOS15;
